In [50]:
import pandas as pd
import numpy as np

In [25]:
raw_census_data_df = pd.read_csv('co-est2019-alldata.csv', encoding = 'ISO-8859-1')

In [26]:
raw_census_data_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43574,...,-17.605427,0.502513,15.035735,-4.614071,-13.140225,-13.762031,-18.484164,-23.515727,-18.743773,-17.065527
3189,50,4,8,56,39,Wyoming,Teton County,21294,21298,21296,...,-1.583464,-2.575509,1.905293,23.259519,12.508872,4.670450,1.253214,-0.171608,-12.432212,1.797445
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21121,21089,...,-9.181105,-18.196975,-4.487730,-10.870861,-15.033634,-10.484550,-11.485101,-18.923455,-13.554993,-9.181105
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8528,8530,...,-7.652085,-12.839390,-3.084589,-1.307811,-18.938032,0.000000,-15.204038,-15.950541,-17.246806,-8.289759
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7198,...,0.000000,-9.065551,-10.549265,6.191515,0.420345,9.201171,0.693097,-36.227798,-6.910452,2.599090

In [27]:
county_state_population_df = raw_census_data_df[['CTYNAME', 'STNAME', 'POPESTIMATE2019']]

In [28]:
county_state_population_df.columns = ['county', 'state', 'population 2019']

In [29]:
county_state_population_df

                 county    state  population 2019
0               Alabama  Alabama          4903185
1        Autauga County  Alabama            55869
2        Baldwin County  Alabama           223234
3        Barbour County  Alabama            24686
4           Bibb County  Alabama            22394
...                 ...      ...              ...
3188  Sweetwater County  Wyoming            42343
3189       Teton County  Wyoming            23464
3190       Uinta County  Wyoming            20226
3191    Washakie County  Wyoming             7805
3192      Weston County  Wyoming             6927

[3193 rows x 3 columns]

In [35]:
for i in range(len(county_state_population_df)):
    if (" County" in county_state_population_df.loc[i,'county']):
        county_simple = county_state_population_df.loc[i,'county'][:-7].to_numpy()[0]
        county_state_population_df.loc[i,'county'] = county_simple

In [36]:
(" county" in county_state_population_df.loc[1,'county'])

False

In [61]:
county_state_population_df['county-state'] = county_state_population_df['county'].to_numpy() + ' - ' + county_state_population_df['state'].to_numpy()

C:\Users\thead\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
county_state_population_df.loc[:,'county'].to_numpy() + ' - ' + county_state_population_df.loc[:,'state'].to_numpy()

array(['Alabama - Alabama', 'Autauga - Alabama', 'Baldwin - Alabama', ...,
       'Uinta - Wyoming', 'Washakie - Wyoming', 'Weston - Wyoming'],
      dtype=object)

In [63]:
county_state_population_df.loc[:,'county'].to_numpy()

array(['Alabama', 'Autauga', 'Baldwin', ..., 'Uinta', 'Washakie',
       'Weston'], dtype=object)

In [64]:
np.array([1,2,3])+np.array([1,2,3])

array([2, 4, 6])

In [65]:
county_state_population_df.set_index('county-state')

                          county    state  population 2019
county-state
Alabama - Alabama        Alabama  Alabama          4903185
Autauga - Alabama        Autauga  Alabama            55869
Baldwin - Alabama        Baldwin  Alabama           223234
Barbour - Alabama        Barbour  Alabama            24686
Bibb - Alabama              Bibb  Alabama            22394
...                          ...      ...              ...
Sweetwater - Wyoming  Sweetwater  Wyoming            42343
Teton - Wyoming            Teton  Wyoming            23464
Uinta - Wyoming            Uinta  Wyoming            20226
Washakie - Wyoming      Washakie  Wyoming             7805
Weston - Wyoming          Weston  Wyoming             6927

[3193 rows x 3 columns]

In [60]:
county_state_population_df.to_csv('county_state_population.csv')